[submodule "mbedtls"]
	path = third-party/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "tinycbor"]
	path = third-party/tinycbor
	url = https://github.com/intel/tinycbor.git
[submodule "mlkem"]
	path = third-party/mlkem
	url = https://github.com/pq-code-package/mlkem-native/
